body {
background-image: url("cover_In.jpg");
}
#WRAPPER{
	position:relative;
	width:100%;	min-height: 100%;
	margin:0; padding:0; 
}
.content {
	width:90%;
	float: right ;
	margin-top: 45px;
}
.svg-container {
	width: 100%;
	float: right !important;
	margin-top: 45px !important;
	margin-right: 300px !important;
}

#BANNER{
	position:relative;
	margin:0;
	padding:0;
	max-width:1000px;
	height:15%;
    /*background: #42f3e4;*/
}
    
#namn   {
	    color: #fff;
        position:relative;
        padding-bottom: 15px;
		padding-top: 15px;
		text-align: center;
	}

	.menu {
        background:#f2f5f5;
		padding-bottom: 15px;
		margin-top: 45px;
		margin-bottom: 25px;
		float: left;
		margin-left: 15px;
		border-radius: 4px;
	    box-shadow: 0 10px 30px rgba(0,0,0,.2);
	    padding: 15px 15px;
	}
.button {
	background-color: #003554;;
    box-shadow: 0 3px 0 #d4dddc;
    border-radius: 50px;
    border: 1px solid rgb(10, 10, 10);
    /*display: inline-block;*/
    padding: 10px 17px 10px;
    font-weight: 500;
	line-height: 70%;
	margin-bottom: 15px;
}

.button a {
	color: #fff;
	font-size: 20px;
}
.button a:hover {
	color: #eaeff0;
	font-size: 21px;
}
	